.slogan{
    font-family: 'Mea Culpa', cursive;
    font-size: 5vw;    
    position: absolute;    
    left: 35%;
    padding-top: 1%;
    color: #806000;    
}
.slogan_subtitle{
    font-size: 1vw;
    left: 20%;     
    font-size: 3vw;    
    position: absolute;     
}