.slogan{
    font-family: 'Mea Culpa', cursive;
    font-size: 5vw;    
    position: absolute;
    padding-top: 1%;
    color: #806000;    
}
.slogan_subtitle{
    font-size: 1vw;     
    font-size: 3vw;    
    position: absolute;
        
}
.menuContent{
    padding-top: 15vw;
    margin-bottom: 90vw;    
    text-align: center;
    display: grid;
    grid-gap: 10%;
    font-family: 'Inter', sans-serif;
    font-size: 1.5vw;    
}
.itemList{
    display: grid;
    grid-template-columns: 6fr 6fr 6fr;
    grid-gap: 8vw;
    margin: 0 5vw 0 5vw;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    border-bottom:1px solid #e6ac00 ;
    padding-bottom: 3.5vw;
}
.serviceTitle{
    color: #806000;
    font-size: 2vw;
}

@media only screen and (max-width: 650px) {
    .slogan{
        font-family: 'Mea Culpa', cursive;
        font-size: 10vw;        
        left: 20vw;
        padding-top: 1%;        
        color: #806000;    
    }
    .slogan_subtitle{       
        font-size: 5vw;    
            
    }
    .menuContent{
        padding-top: 25vw;
        text-align: center;
        font-size: 5vw;  
        grid-gap: 5vh;        
        border-bottom: 1px solid #e6ac00 ;
        margin-bottom: 5vw; 
    }
    .itemList{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap:10vh;
        text-align: center;
        font-family: 'Prompt', sans-serif;
    }  
    .serviceTitle{
        color: #806000;
        font-size: 4vw;
    }
}