.slogan{
    font-family: 'Mea Culpa', cursive;
    font-size: 5vw;    
    position: absolute;    
    left: 35%;
    padding-top: 2.5%;
    
}

img{
 width: 100%;
 height: 60vh;   
}

@media screen and (max-width: 650px) {  
    img{
        width: 100%;
        height: 35vh;   
       }
}